:root {
    --favriote: #FF4B33;
    --paw-print: #F4B207;
    --gender: #FF8893;
    --purple: #57419D; 
    
    --background-to-site: #f5f5fa;
    --background-to-objekts: #F5F5FA;

    --drop-shadow: #c9c9da;
    --text-color: #7978ad;
}