@use "colortext";




// header

.header-profile-icon {
    display: flex;
}

.pets-categories button {
    background-color: var(--background-to-objekts);
    color: var(--purple);
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    border-radius: 1rem;
    margin-inline: 0.5rem;
    transition: 200ms;
    box-shadow: 10px 12px 15px  var(--drop-shadow);
}

.pets-categories button:hover {
    transform: scale(1.07);
    cursor: pointer;
    box-shadow: 10px 15px 20px  var(--drop-shadow);
}




// main

.pet-section {
    display: flex;
    align-items: center;

    margin-block: 3rem;
    padding-inline: 0.5rem;

    max-width: 28rem;
    border-radius: 1.3rem;
    background-color: var(--background-to-objekts);
    box-shadow: 10px 15px 20px  var(--drop-shadow);
    transition: 200ms;
}

.pet-section:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 10px 15px 40px  var(--drop-shadow);

}

.pet-section-indhold {
    margin-inline: 1rem;
}

.pet-section-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.short-decsiption {
    margin-top: 1.2rem;

}


.pet-categories button{
    background-color: var(--background-to-objekts);
    box-shadow: 4px 2px 10px var(--drop-shadow);
}


ul {
    background-color: var(--background-to-objekts);
    margin-bottom: 0;
    justify-content: center;
    padding: 1rem 3rem 4rem 3rem;
    display: flex;
    gap: 2rem;
    border-radius: 2rem 2rem 0 0;
}

ul li {
    background-color: var(--background-to-objekts);
    box-shadow: 10px 12px 15px  var(--drop-shadow);
    padding: 1rem;
    border-radius: 100%;
    transition: 200ms;
}

ul li:hover {
    // transform: scale();
    cursor: pointer;
    box-shadow: inset 2px 2px 1px var(--drop-shadow);

}