@use "layout";


* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    justify-items: center;
    background-color: var(background-to-site);
}


p {
    padding: 0;
    margin: 0;
}

a, li {
    text-decoration: none;
    list-style: none;
    color: var(--text-color);
}

button {
    background: none;
    border: none;
}